
<div *ngIf="attendance">
    <h2><span>Attendance</span> {{attendance.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Check In Time</span></dt>
        <dd>
            <span>{{attendance.checkInTime}}</span>
        </dd>
        <dt><span>Check Out Time</span></dt>
        <dd>
            <span>{{attendance.checkOutTime}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{attendance.description}}</span>
        </dd>
        <dt><span>Shift</span></dt>
        <dd>
            <span>{{attendance.shift}}</span>
        </dd>
        <dt><span>Check Type</span></dt>
        <dd>
            <span>{{attendance.checkType}}</span>
        </dd>
        <dt><span>Verify Code</span></dt>
        <dd>
            <span>{{attendance.verifyCode}}</span>
        </dd>
        <dt><span>Sensor Id</span></dt>
        <dd>
            <span>{{attendance.sensorId}}</span>
        </dd>
        <dt><span>Work Code</span></dt>
        <dd>
            <span>{{attendance.workCode}}</span>
        </dd>
        <dt><span>Sn</span></dt>
        <dd>
            <span>{{attendance.sn}}</span>
        </dd>
        <dt><span>Employee</span></dt>
        <dd>
            <div *ngIf="attendance.employeeId">
                <a [routerLink]="['/employee-my-suffix', attendance.employeeId]">{{attendance.employeeId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'attendance-my-suffix/'+ attendance.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
